<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vrijaeeeeme</title>
  
  
  <script src="https://kit.fontawesome.com/1bb7a3dd1c.js" crossorigin="anonymous"></script>
  
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/current.css">
  
  <script src="js/app.js" defer></script>
  <script src="widget.js" defer></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  
</head>
<body>

  <div class="body-wrap">

    <div class="main-content">
      
      <div id="openweathermap-widget-19"></div>
      
      <header>
      
        <h1>Weather <span>2Day</span></h1>
        
        <div class="link-container">
        
          <div class="links">
            <a href="/">Home</a>
            <a href="/daily">Daily Forecast</a>
            <a href="/hourly">Hourly Forecast</a>
            <a href="/about">About</a>
          </div>

          <div class="social">
            <a href="https://www.facebook.com/" class="fa fa-facebook fa-lg" target="_blank"></a>
            <a href="https://twitter.com/?lang=en" class="fa fa-twitter fa-lg" target="_blank"></a>
            <a href="https://www.linkedin.com/feed/" class="fa fa-linkedin fa-lg" target="_blank"></a>
            <a href="https://www.instagram.com/" class="fa fa-instagram fa-lg" target="_blank"></a>
          </div>

        </div>
      
      </header>

    </div>
    
    <!--?              search input and button          -->
    <section class="search-form">
      
      <div class="main-search">
        <form action="/">
            <input type="text" placeholder="Your location..">
            <button><i class="fas fa-search fa-lg"></i></button>
        </form>
      </div>
      
      <p id="first"></p>

    </section>

    <!--?     media card object for weather -->

    <section class="weather-card">

      
          <!--      

      <div class="card is-hidden" id="windCard">
        
          <div class="media">
            <div class="media-left">
              <i class="fas fa-wind fa-3x"></i>
            </div>
            <div class="media-content">
              <p class="title is-4" id="wind"></p>
              
            </div>
          </div>
        
      </div>

     

      <div class="card is-hidden" id="feelsCard">
        
          <div class="media">
            <div class="media-left">
              <i class="far fa-sun fa-3x"></i>
            </div>
            <div class="media-content">
              <p class="title is-4" id="feels"></p>
              <p class="subtitle is-6">Feels Like</p>
            </div>
          </div>
       
      </div> -->
    </section>



    <footer>
      <p>Created by Vasko Raketic</p>
    </footer>
  </div>

</body>
</html>