@import 'main.css';

/*?                       DAILY FORECAST                   */

.daily-forecast {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  padding: 0.5rem 1rem;
  
}

.card {
  background-color: ivory;
  padding: 0.5rem;
  border-radius: 10px;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
}


.front {
  width: 100%;
  height: 100%;
  /* color: var(--main-font-color); */
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

}
.week {
  font-family: 'Commissioner', sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  
}

.icon img {
  height: 50px;
  margin-top: -10px;
  
}

.current {
  /* padding: 1rem auto; */
  text-align: center;
  margin-bottom: 1rem;
  
}

.current h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
    
    
}
.current p  {
  font-size: 1.1rem;
  font-family: 'Rubik', sans-serif;
  letter-spacing: 2px;

}

.forecast {
  width: 100%;
  font-family: 'Roboto Slab', serif; ;
}

.forecast li {
  padding: 10px 0;
  border-bottom: 2px solid #D3D3D3;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left {
  letter-spacing: 1px;
}
.forecast li:last-child
{
    border-bottom: none;
}
.forecast li .left
{
    width: 50%;
}
.forecast li .right
{
    width: 50%;
    text-align: right;
}
.right .fa {
  color: var(--main-font-color);
}

@media screen and (max-width: 900px) {
  .daily-forecast {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }

  .card {
    padding: 0.5rem 1rem;
  }

  .current {
    margin: 1rem 0 2rem 0;
  }

  .forecast li {
    margin-bottom: 0.5rem;
  }
}

@media screen and (max-width: 600px) {

  .daily-forecast {
    grid-template-columns: 1fr;
  }

  .card {
    padding: 1rem;
    margin: 0 10%;
  }
}

@media screen and (max-width: 450px) {
  .card {
    margin: 0 5%;
  }
  body, html {
    overflow-x: hidden;
  }
}











