@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --main-bg-color: #DDE4E6;
    --main-font-color: #736C9E;
    --darker-font-color: #1B0066;
    --acent-color: #FFA266;
    --black: #333333;
    --lavander: #957DAD;
    --green: #527D1A;
}


body, html {
    background-color: var(--main-font-color);
    color: white;
    font-family: arial;
    min-height: 100vh;
    scroll-behavior: smooth;
    position: relative;
    
  }

.body-wrap {
    max-width: 1140px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

span {
    background: rgb(197,191,191);
    background: linear-gradient(45deg, rgba(197,191,191,0.7515641116024403) 0%, rgba(253,0,0,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
.gradient {
    
    background: rgb(197,191,191);
    background: linear-gradient(45deg, rgba(197,191,191,0.7515641116024403) 0%, rgba(253,0,0,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


footer {
    max-width: 1140px;
    width: 100%;
    height: 2rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-top: 2px solid #eeeeee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
  }
footer p {
   letter-spacing: 2px;
 }

.about-note {
    margin: 2rem ;
    text-align: center;
    letter-spacing: 3px;
    /* font-weight: bold; */
    line-height: 2rem;
    font-size: 1.3rem;
}
  
.portrait {
    width: 250px;
    height: 250px;
    margin-top: 3rem;
    
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/**             open weather widget */

.widget-right__logo_black_small,
.widget-right__date {
    display: none ;
}

#openweathermap-widget-15,
#openweathermap-widget-19 {
    margin: 0.5rem 0 0 0;
    z-index: 2;
}

/*?         HEADER AND MAIN CONTENT AREA            */

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    border-bottom: 2px solid #eeeeee;
    padding: 0.5rem;
    width: 100%;
    
}

/**             BACKGROUND IMG */
/* .main-content:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.3;
    background: url('../img/rainy-weather.png') no-repeat center center/cover;
} */

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    z-index: 2;
    margin: 0;
    padding: 0 1rem;
}

header h1 {
    font-size: 4rem;
    letter-spacing: 0.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    z-index: 5;
    text-align: right;
    
}

.link-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 0.5rem;
}
.links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 1rem;
}

.links a {
    color: white;
    padding: 0 16px ;
    text-decoration: none;
    font-weight: bold;
}
.links a:hover {
    color: #343434;
}

.social {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 0.5rem;
}
.social a:hover{
    
    transform: scale(1.1);
}
.social .fa {
    color: white;
    padding: 0px 5px;
    text-align: center;
    text-decoration: none;
    margin: 0px 10px 0px 0px;
}


/* about page  */
.main-content p {
    margin: 2rem ;
    text-align: center;
}

.portrait {
    width: 250px;
}


/*?                  form input and button                          */
#first {
    margin-top: 1rem;
    font-weight: bolder;
    letter-spacing: 3px;
    font-size: 1.2rem;
}
.search-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-top: 1rem;
}

.main-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    margin: 0.5rem auto;
    display: flex;
    justify-content: center;
    
}
form input  {
    height: 2.2rem;
    padding: 8px;
    margin-right: 2rem;
    border:  none;
    border-radius: 5px;
    outline: none;
    font-size: 1.1rem;
}

button {
    cursor: pointer;
    color: var(--main-font-color);
    background-color: white;
    height: 2.2rem;
    width: 2rem;
    border: none;
    border-radius: 5px;
}

.fa-search {
    -webkit-transition: 0.7s ease-out;
    -moz-transition: 0.7s ease-out;
    -o-transition: 0.7s ease-out;
    transition: 0.7s ease-out;
}
.flip {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}


button, button:active, button:focus, button:hover {
    outline: none ;
    outline: 0px ;
}

#search-form p {
    font-weight: bold;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    letter-spacing: 3px;
}


/*TODO  ~~~~~~~~~~~~~~~RESPONSIVE~~~~~~~~~~~~~~~~~~ */

@media screen and (max-width:900px) {

   
  
    header h1 {
      font-size: 3.3rem;
      letter-spacing: 3px;
    }
}
  
@media screen and (max-width: 768px) {
    

    .main-content {
        padding: 0.1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    header {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    header h1 {
        margin: 0;
    }

    .link-container {
        padding: 0.3rem 0.1rem;
    }

    .links {
        margin: 0;
    }

    .links a {
        padding: 0 8px;
    }
    .social {
        margin: 0;
    }
    .social .fa {
        padding: 0px 5px;
        margin: 0;
    }
}
  
@media screen and (max-width: 600px) {
    
    .main-content {
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    header {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    header h1 {
        margin: 0;
        font-size:2.2rem ;
        letter-spacing: 0px;
    }
  
    .link-container {
        padding: 0.3rem 0.1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
  
    .links {
        margin: 0;
        justify-content: space-evenly;
    }
  
    .links a {
        padding: 0 10px;
    }
    .social {
        margin-top: 1rem;
    }
    .social .fa {
        padding: 0px 10px;
        margin: 0;
    }

    
}

@media screen and (max-width: 500px) {
    #first {
      letter-spacing: 0px;
      font-size: 1.1rem;
    }
  
    form input {
      margin-right: 1rem;
    }

    .links a {
        padding: 0 6px;
        font-size: 0.9rem;
    }

    .about-note {
        letter-spacing: 1px;
    }
}

@media screen and (max-width: 400px) {
    .links a {
        font-size: 0.8rem;
    }
    .social .fa {
        
    }
}












